Repository team-kareer/kareer-client: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm lint

    format:
      glob: '*.{js,ts,jsx,tsx,json,yaml,yml,md}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    type-check:
      run: pnpm check-types

commit-msg:
  commands:
    lint-commit-msg:
      run: node commitlint.config.cjs {1}

fix: 테스트코드 삭제
  apps/desktop/package.json
  apps/desktop/src/url-policy.test.ts
Due: lint, format

fix: 앱 내부 탐색 URL 제한
  apps/desktop/src/main.ts
  apps/desktop/src/url-policy.ts
Due: lint, format

Refactor(web): 온보딩 페이지 훅 분리 개선 (#331)
  apps/web/src/pages/onboarding/hooks/useOnboardingStepValidation.ts
  apps/web/src/pages/onboarding/hooks/useOnboardingSubmit.ts
  apps/web/src/pages/onboarding/onboarding-page.tsx
  apps/web/src/widgets/onboarding/index.ts
Due: lint, format

feat: landing page 라우터 세팅
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/shared/router/lazy.tsx
  apps/web/src/shared/router/path.ts
  apps/web/src/shared/router/routes/global-routes.tsx
Due: lint, format

feat: landingPage 다국어 세팅
  apps/web/src/shared/i18n/i18n.ts
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
  apps/web/src/shared/i18n/resources.ts
Due: lint, format

feat: LandingPage Header 구현
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/landing-header/landing-header.css.ts
  apps/web/src/widgets/landing/ui/landing-header/landing-header.tsx
Due: lint, format

Feat(desktop): Electron 앱 및 macOS DMG 배포 환경 구성 (#334)
  .github/workflows/ci.yml
  apps/desktop/package.json
  apps/desktop/scripts/make-macos.ts
  apps/desktop/src/main.ts
  apps/desktop/src/url-policy.ts
  apps/desktop/tsconfig.json
  package.json
  packages/icons/package.json
  pnpm-lock.yaml
Due: lint, format

Feat(web): 로드맵 생성 로딩 카드 구현 (#336)
  apps/web/src/features/onboarding/hooks/index.ts
  apps/web/src/features/onboarding/hooks/useRoadmapLoadingProgress.ts
  apps/web/src/features/onboarding/ui/index.ts
  apps/web/src/features/onboarding/ui/roadmap-loading-card/roadmap-loading-card.css.ts
  apps/web/src/features/onboarding/ui/roadmap-loading-card/roadmap-loading-card.tsx
  apps/web/src/shared/i18n/locales/en/onboarding.json
  apps/web/src/shared/i18n/locales/ko/onboarding.json
  apps/web/src/shared/i18n/locales/vi/onboarding.json
  apps/web/src/shared/i18n/locales/zh-CN/onboarding.json
Due: lint, format

feat: API 엔드포인트 및 스키마 갱신
  apps/web/src/entities/job/model/end-point.ts
  apps/web/src/entities/job/model/index.ts
  apps/web/src/entities/onboarding/model/end-point.ts
  apps/web/src/entities/onboarding/model/index.ts
  apps/web/src/entities/phase/model/end-point.ts
  apps/web/src/entities/phase/model/end_point.ts
  apps/web/src/entities/phase/model/index.ts
  apps/web/src/entities/phase/model/types.ts
  apps/web/src/entities/terms/model/end-point.ts
  apps/web/src/entities/terms/model/index.ts
  apps/web/src/entities/todo/api/get-todo-list.ts
  apps/web/src/entities/todo/model/end-point.ts
  apps/web/src/entities/todo/model/end_point.ts
  apps/web/src/entities/todo/model/index.ts
  apps/web/src/entities/todo/model/types.ts
  apps/web/src/entities/user/model/end-point.ts
  apps/web/src/entities/user/model/index.ts
  apps/web/src/features/auth/api/exchange-google-code.ts
  apps/web/src/features/auth/api/sign-out.ts
  apps/web/src/features/auth/model/end-point.ts
  apps/web/src/features/onboarding/api/parse-sse-events.ts
  apps/web/src/features/onboarding/api/post-onboarding-roadmap.ts
  apps/web/src/features/onboarding/model/end-point.ts
  apps/web/src/features/onboarding/model/index.ts
  apps/web/src/features/onboarding/model/types.ts
  apps/web/src/features/todo/model/end-point.ts
  apps/web/src/features/todo/model/types.ts
  apps/web/src/shared/types/schema.d.ts
Due: lint, format

feat: 로드맵 생성 로딩 카드 연동
  apps/web/src/entities/phase/queries/queries.ts
  apps/web/src/features/onboarding/queries/index.ts
  apps/web/src/features/onboarding/queries/queries.ts
  apps/web/src/pages/dashboard/dashboard-page.tsx
  apps/web/src/pages/roadmap/roadmap-page.tsx
  apps/web/src/widgets/roadmap-generation/index.ts
  apps/web/src/widgets/roadmap-generation/ui/roadmap-generation-gate/roadmap-generation-gate.css.ts
  apps/web/src/widgets/roadmap-generation/ui/roadmap-generation-gate/roadmap-generation-gate.tsx
Due: lint, format

chore: TypeScript baseUrl 설정 제거
  apps/web/tsconfig.json
Due: format

feat: 랜딩 페이지 다국어 리소스 추가
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
Due: format

style: 랜딩 헤더 스타일 정리
  apps/web/src/widgets/landing/ui/landing-header/landing-header.css.ts
Due: lint, format

feat: 랜딩 히어로 세션 구현
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/hero-section/hero-section.css.ts
  apps/web/src/widgets/landing/ui/hero-section/hero-section.tsx
Due: lint, format

feat: 통계 세션 다국어 문구 추가
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
Due: format

feat: 통계 세션 UI 구현
  apps/web/src/pages/landing/landing-page.css.ts
  apps/web/src/widgets/landing/ui/stats-section/stats-section.css.ts
  apps/web/src/widgets/landing/ui/stats-section/stats-section.tsx
Due: lint, format

feat: 통계 세션 추가
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
Due: lint, format

feat: 공통 FeatureSection 컴포넌트 구현
  apps/web/src/widgets/landing/ui/feature-section/feature-section.css.ts
  apps/web/src/widgets/landing/ui/feature-section/feature-section.tsx
Due: lint, format

feat: Feature 세션 다국어 문구 추가
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
Due: format

feat: Feat 01 세션 추가
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/job-recommendation-section/job-preview-card.css.ts
  apps/web/src/widgets/landing/ui/job-recommendation-section/job-preview-card.tsx
  apps/web/src/widgets/landing/ui/job-recommendation-section/job-recommendation-preview.css.ts
  apps/web/src/widgets/landing/ui/job-recommendation-section/job-recommendation-preview.tsx
  apps/web/src/widgets/landing/ui/job-recommendation-section/job-recommendation-section.tsx
Due: lint, format

feat: Feat02, 03 다국어 추가
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
Due: format

feat: 랜딩 Feat 02 구현
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/career-roadmap-section/career-roadmap-preview.css.ts
  apps/web/src/widgets/landing/ui/career-roadmap-section/career-roadmap-preview.tsx
  apps/web/src/widgets/landing/ui/career-roadmap-section/career-roadmap-section.tsx
Due: lint, format

feat: Feat03 구현
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/todo-management-section/todo-management-preview.css.ts
  apps/web/src/widgets/landing/ui/todo-management-section/todo-management-preview.tsx
  apps/web/src/widgets/landing/ui/todo-management-section/todo-management-section.tsx
Due: lint, format

feat: voice 다국어 추가
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
Due: format

feat: voice 세션 구현
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/real-voices-section/real-voices-section.css.ts
  apps/web/src/widgets/landing/ui/real-voices-section/real-voices-section.tsx
Due: lint, format

feat: kareer reason 세션 다국어 적용
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
Due: format

style: 백그라운드 이미지 추가
  apps/web/src/shared/assets/bg_why_kareer.jpg
Due: none

feat: kareer reson 세션 추가
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/shared/assets/index.ts
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/why-kareer-section/why-kareer-section.css.ts
  apps/web/src/widgets/landing/ui/why-kareer-section/why-kareer-section.tsx
Due: lint, format

feat: early access 세션 다국어 추가
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
Due: format

feat: 히어로 세션 early access form 분리
  apps/web/src/widgets/landing/ui/hero-section/hero-section.css.ts
  apps/web/src/widgets/landing/ui/hero-section/hero-section.tsx
Due: lint, format

feat: early access form 컴포넌트 구현
  apps/web/src/widgets/landing/ui/early-access-form/early-access-form.css.ts
  apps/web/src/widgets/landing/ui/early-access-form/early-access-form.tsx
Due: lint, format

feat: early access 세션 구현
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/early-access-section/early-access-section.css.ts
  apps/web/src/widgets/landing/ui/early-access-section/early-access-section.tsx
Due: lint, format

feat: 푸터 저작권 문구 추가
  apps/web/src/shared/i18n/locales/en/landing.json
  apps/web/src/shared/i18n/locales/ko/landing.json
Due: format

feat: 푸터 구현
  apps/web/src/pages/landing/landing-page.tsx
  apps/web/src/widgets/landing/index.ts
  apps/web/src/widgets/landing/ui/landing-footer/landing-footer.css.ts
  apps/web/src/widgets/landing/ui/landing-footer/landing-footer.tsx
Due: lint, format

feat: 로드맵 로딩 카드에 시작 시간 전달 및 로딩 진행 상태 업데이트
  apps/web/src/features/onboarding/hooks/useRoadmapLoadingProgress.ts
  apps/web/src/features/onboarding/ui/roadmap-loading-card/roadmap-loading-card.tsx
  apps/web/src/widgets/roadmap-generation/ui/roadmap-generation-gate/roadmap-generation-gate.tsx
Due: lint, format

style: 타이포그라피 수정
  apps/web/src/widgets/landing/ui/early-access-form/early-access-form.css.ts
  apps/web/src/widgets/landing/ui/early-access-section/early-access-section.css.ts
  apps/web/src/widgets/landing/ui/feature-section/feature-section.css.ts
  apps/web/src/widgets/landing/ui/real-voices-section/real-voices-section.css.ts
  apps/web/src/widgets/landing/ui/why-kareer-section/why-kareer-section.css.ts
Due: lint, format

refactor: 데이터 구조 통합
  apps/web/src/widgets/landing/ui/why-kareer-section/why-kareer-section.tsx
Due: lint, format

fix: border 단위 통일
  apps/web/src/widgets/landing/ui/hero-section/hero-section.css.ts
Due: lint, format

refactor: 시맨틱 태그 변경
  apps/web/src/widgets/landing/ui/real-voices-section/real-voices-section.tsx
  apps/web/src/widgets/landing/ui/why-kareer-section/why-kareer-section.tsx
Due: lint, format

feat: 랜딩 헤더 세션 이동
  apps/web/src/pages/landing/landing-page.css.ts
  apps/web/src/widgets/landing/constants/section-id.ts
  apps/web/src/widgets/landing/ui/early-access-section/early-access-section.tsx
  apps/web/src/widgets/landing/ui/feature-section/feature-section.tsx
  apps/web/src/widgets/landing/ui/job-recommendation-section/job-recommendation-section.tsx
  apps/web/src/widgets/landing/ui/landing-header/landing-header.tsx
  apps/web/src/widgets/landing/ui/real-voices-section/real-voices-section.tsx
Due: lint, format
