Repository team-kareer/kareer-client: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm lint

    format:
      glob: '*.{js,ts,jsx,tsx,json,yaml,yml,md}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    type-check:
      run: pnpm check-types

commit-msg:
  commands:
    lint-commit-msg:
      run: node commitlint.config.cjs {1}

chore: pnpm-lock 수정
  pnpm-lock.yaml
Due: format

fix: @toss/ky -> ky로 다시 변경
  apps/web/package.json
  apps/web/src/shared/apis/configs/instance.ts
  apps/web/src/shared/apis/configs/interceptor.ts
  apps/web/src/shared/apis/configs/query-config.ts
  apps/web/src/shared/configs/sentry.ts
  pnpm-lock.yaml
Due: lint, format

chore: ky를 또 다시 @toss/ky로 변경
  apps/web/package.json
  apps/web/src/shared/apis/configs/instance.ts
  apps/web/src/shared/apis/configs/interceptor.ts
  apps/web/src/shared/apis/configs/query-config.ts
  apps/web/src/shared/configs/sentry.ts
  pnpm-lock.yaml
Due: lint, format

feat: input 유효성 검사 로직 구현
  apps/web/src/features/onboarding/hooks/validators.ts
  apps/web/src/pages/onboarding/onboarding-page.tsx
  apps/web/src/widgets/onboarding/constants/validation-message.ts
  apps/web/src/widgets/onboarding/types/form.ts
  apps/web/src/widgets/onboarding/ui/onboarding-degree-step/onboarding-degree-step.tsx
  apps/web/src/widgets/onboarding/ui/step/personal-information/personal-information.tsx
  apps/web/src/widgets/onboarding/ui/step/visa-information/visa-information.tsx
Due: lint, format

chore: ky 의존성 드디어 완전 제거
  apps/web/package.json
  pnpm-lock.yaml
Due: format

chore: ky 의존성 진짜 찐찐막 끊어버리기
  apps/web/package.json
  pnpm-lock.yaml
Due: format

chore: package.json 졸림이슈 삭제 한 부분 복구 이런 실수 절대 안한다 진짜로
  apps/web/package.json
  pnpm-lock.yaml
Due: format

feat: TargetJob별 Placeholder 매핑
  apps/web/src/widgets/onboarding/ui/step/personal-backgorund/personal-background.tsx
  apps/web/src/widgets/onboarding/ui/step/target-role/target-role.tsx
Due: lint, format

feat: ky 반환 타입 지정
  apps/web/src/shared/apis/configs/instance.ts
Due: lint, format

feat: 페이지 로더 구현
  apps/web/package.json
  apps/web/src/pages/dashboard/dashboard-page.tsx
  apps/web/src/shared/assets/index.ts
  apps/web/src/shared/assets/lottie/loading.json
  apps/web/src/shared/ui/index.ts
  apps/web/src/shared/ui/page-loading/page-loading.css.ts
  apps/web/src/shared/ui/page-loading/page-loading.tsx
Due: lint, format

feat: http-error 유틸 추가
  apps/web/src/shared/apis/configs/instance.ts
  apps/web/src/shared/apis/configs/interceptor.ts
  apps/web/src/shared/apis/configs/query-config.ts
  apps/web/src/shared/configs/sentry.ts
  apps/web/src/shared/utils/http-error.ts
Due: lint, format

feat: 타입 체크 추가
  apps/web/src/shared/apis/configs/instance.ts
Due: lint, format

chore: 타입 추론
  apps/web/src/shared/apis/configs/instance.ts
Due: lint, format

feat: layout 파일에 적용
  apps/web/src/pages/dashboard/dashboard-page.tsx
  apps/web/src/shared/router/global-layout.tsx
  apps/web/src/shared/router/onboarding-route-layout.tsx
Due: lint, format

chore: sort
  apps/web/src/shared/apis/configs/query-config.ts
  apps/web/src/shared/configs/sentry.ts
Due: lint, format

Feat(web): 소셜 로그인 구현 및 auth,token 서비스 구현 (#112)
  apps/web/package.json
  apps/web/src/features/auth/api/.gitkeep
  apps/web/src/features/auth/api/exchange-google-code.ts
  apps/web/src/features/auth/hooks/.gitkeep
  apps/web/src/features/auth/index.ts
  apps/web/src/features/auth/model/end_point.ts
  apps/web/src/features/auth/model/types.ts
  apps/web/src/features/auth/ui/login-callback/login-callback.tsx
  apps/web/src/pages/login-callback/login-callback-page.tsx
  apps/web/src/shared/apis/configs/app-config.ts
  apps/web/src/shared/apis/configs/instance.ts
  apps/web/src/shared/apis/configs/interceptor.ts
  apps/web/src/shared/apis/configs/query-config.ts
  apps/web/src/shared/auth/auth-service.ts
  apps/web/src/shared/auth/token-service.ts
  apps/web/src/shared/configs/sentry.ts
  apps/web/src/shared/router/index.ts
  apps/web/src/shared/router/lazy.tsx
  apps/web/src/shared/router/path.ts
  apps/web/src/shared/router/protected-route.tsx
  apps/web/src/shared/router/router.tsx
  apps/web/src/shared/router/routes/global-routes.tsx
  apps/web/src/shared/router/routes/onboarding-routes.tsx
  apps/web/src/shared/types/schema.d.ts
  apps/web/src/shared/utils/http-error.ts
  apps/web/src/widgets/login/ui/hero-section/hero-section.tsx
  pnpm-lock.yaml
Due: lint, format

Style(packages): Scroll bar 커스텀 구현 (#133)
  apps/web/src/shared/hooks/useScroll.ts
  apps/web/src/widgets/layout/ui/app-layout/app-layout.css.ts
  apps/web/src/widgets/layout/ui/app-layout/app-layout.tsx
  packages/kds-ui/src/styles/global.css.ts
Due: lint, format

chore: pnpm-lock 재설치
  pnpm-lock.yaml
Due: format

fix: 타입 정의 수정
  apps/web/src/shared/apis/configs/instance.ts
Due: lint, format

feat: Target Job CheckList 구현
  apps/web/src/widgets/onboarding/ui/onboarding-step-layout/onboarding-step-layout.css.ts
  apps/web/src/widgets/onboarding/ui/onboarding-step-layout/onboarding-step-layout.tsx
  apps/web/src/widgets/onboarding/ui/step/personal-information/personal-information.tsx
  apps/web/src/widgets/onboarding/ui/step/target-role/target-role.css.ts
  apps/web/src/widgets/onboarding/ui/step/target-role/target-role.tsx
  packages/kds-ui/src/styles/tokens/zIndex.css.ts
Due: lint, format

feat: Visa Information 비자별 렌더링 조건 변경
  apps/web/src/features/onboarding/hooks/validators.ts
  apps/web/src/pages/onboarding/onboarding-page.tsx
  apps/web/src/widgets/onboarding/ui/onboarding-step-layout/onboarding-step-layout.css.ts
  apps/web/src/widgets/onboarding/ui/step/target-role/target-role.tsx
  apps/web/src/widgets/onboarding/ui/step/visa-information/visa-information.tsx
Due: lint, format

refactor: 온보딩 페이지 유효성 검사 변경
  apps/web/src/features/onboarding/hooks/validators.ts
  apps/web/src/widgets/onboarding/ui/step/target-role/target-role.tsx
Due: lint, format

feat: 비즈니스 도메인 책임 분리 작업 진행 v1
  apps/web/src/entities/onboarding/index.ts
  apps/web/src/entities/onboarding/model/constants.ts
  apps/web/src/entities/onboarding/model/types.ts
  apps/web/src/entities/onboarding/model/validation.ts
  apps/web/src/pages/onboarding/onboarding-page.tsx
Due: lint, format

feat: localstorage 관리 로직 분리
  apps/web/src/entities/onboarding/model/storage.ts
  apps/web/src/pages/onboarding/onboarding-page.tsx
Due: lint, format

feat: 로컬스토리지 데이터 Get 로직 피쳐 구현
  apps/web/src/features/onboarding/hooks/useOnboardingStorage.ts
  apps/web/src/features/onboarding/index.ts
  apps/web/src/pages/onboarding/onboarding-page.tsx
Due: lint, format

feat: todo Query 작성
  apps/web/src/entities/todo/api/.gitkeep
  apps/web/src/entities/todo/api/get-todo-list.ts
  apps/web/src/entities/todo/model/.gitkeep
  apps/web/src/entities/todo/model/end_point.ts
  apps/web/src/entities/todo/model/types.ts
  apps/web/src/entities/todo/queries/.gitkeep
  apps/web/src/entities/todo/queries/queries.ts
  apps/web/src/entities/todo/queries/query-key.ts
Due: lint, format

refactor: 타입 세팅관련 중복 세팅 변경
  apps/web/src/entities/onboarding/index.ts
  apps/web/src/entities/onboarding/model/constants.ts
  apps/web/src/entities/onboarding/model/job-skills.ts
  apps/web/src/entities/onboarding/model/personal-background.ts
  apps/web/src/entities/onboarding/model/steps.ts
  apps/web/src/entities/onboarding/model/types.ts
  apps/web/src/entities/onboarding/model/validation.ts
  apps/web/src/pages/onboarding/onboarding-page.tsx
  apps/web/src/widgets/onboarding/constants/personal-background.ts
  apps/web/src/widgets/onboarding/constants/placeholders.ts
  apps/web/src/widgets/onboarding/index.ts
  apps/web/src/widgets/onboarding/types/form.ts
  apps/web/src/widgets/onboarding/ui/onboarding-degree-step/onboarding-degree-step.tsx
  apps/web/src/widgets/onboarding/ui/step/personal-backgorund/personal-background.tsx
  apps/web/src/widgets/onboarding/ui/step/personal-information/personal-information.tsx
  apps/web/src/widgets/onboarding/ui/step/target-role/target-role.tsx
  apps/web/src/widgets/onboarding/ui/step/visa-information/visa-information.tsx
Due: lint, format

feat: api 연동
  apps/web/src/widgets/layout/ui/todo-panel/hooks/use-sorted-todos.ts
  apps/web/src/widgets/layout/ui/todo-panel/todo-panel.tsx
Due: lint, format

refactor: paddingTop 수정
  apps/web/package.json
  apps/web/src/shared/ui/page-loading/page-loading.css.ts
Due: lint, format

fix: 빌드 오류 해결
  pnpm-lock.yaml
Due: format

Feat(web): 로딩 페이지 구현 (#134)
  apps/web/package.json
  apps/web/src/shared/apis/configs/instance.ts
  apps/web/src/shared/assets/index.ts
  apps/web/src/shared/assets/lottie/loading.json
  apps/web/src/shared/router/global-layout.tsx
  apps/web/src/shared/router/onboarding-route-layout.tsx
  apps/web/src/shared/ui/index.ts
  apps/web/src/shared/ui/page-loading/page-loading.css.ts
  apps/web/src/shared/ui/page-loading/page-loading.tsx
  pnpm-lock.yaml
Due: lint, format

feat: 유틸함수, 커스텀 훅 등 분리 로직에 대한 desc 주석처리
  apps/web/src/entities/onboarding/index.ts
  apps/web/src/entities/onboarding/model/constants.ts
  apps/web/src/entities/onboarding/model/form-to-request.ts
  apps/web/src/entities/onboarding/model/job-skills.ts
  apps/web/src/entities/onboarding/model/personal-background.ts
  apps/web/src/entities/onboarding/model/target-job-skills.ts
  apps/web/src/entities/onboarding/model/types.ts
  apps/web/src/entities/onboarding/model/validation.ts
  apps/web/src/features/onboarding/hooks/useTargetJobSkills.ts
  apps/web/src/features/onboarding/hooks/useVisaInformation.ts
  apps/web/src/features/onboarding/hooks/validators.ts
  apps/web/src/features/onboarding/index.ts
  apps/web/src/widgets/onboarding/constants/personal-background.ts
  apps/web/src/widgets/onboarding/constants/placeholders.ts
  apps/web/src/widgets/onboarding/constants/validation-message.ts
  apps/web/src/widgets/onboarding/ui/onboarding-degree-step/onboarding-degree-step.tsx
  apps/web/src/widgets/onboarding/ui/step/target-role/target-role.tsx
  apps/web/src/widgets/onboarding/ui/step/visa-information/visa-information.tsx
Due: lint, format

feat: lint 에러 수정 및 바벨패턴 적용
  apps/web/src/entities/onboarding/index.ts
  apps/web/src/entities/onboarding/model/form-to-request.ts
  apps/web/src/entities/onboarding/model/validation.ts
  apps/web/src/features/onboarding/hooks/useOnboardingStorage.ts
  apps/web/src/features/onboarding/hooks/useTargetJobSkills.ts
  apps/web/src/features/onboarding/hooks/useVisaInformation.ts
  apps/web/src/features/onboarding/hooks/validators.ts
  apps/web/src/pages/onboarding/onboarding-page.tsx
  apps/web/src/widgets/layout/ui/onboarding/onboarding-layout.tsx
  apps/web/src/widgets/onboarding/index.ts
  apps/web/src/widgets/onboarding/ui/onboarding-degree-step/onboarding-degree-step.tsx
  apps/web/src/widgets/onboarding/ui/step/personal-backgorund/personal-background.tsx
  apps/web/src/widgets/onboarding/ui/step/personal-information/personal-information.tsx
  apps/web/src/widgets/onboarding/ui/step/target-role/target-role.tsx
  apps/web/src/widgets/onboarding/ui/step/visa-information/visa-information.tsx
Due: lint, format

fix: develop branch merge 이후 충돌 해결 commit 진행
  apps/web/src/shared/assets/index.ts
Due: lint, format

chore: ic_avatar 변경
  packages/icons/src/svg/ic_avatar.svg
Due: none

feat: 회원 정보 조회 api 연동
  apps/web/src/entities/user/api/get-user-info.ts
  apps/web/src/entities/user/model/end_point.ts
  apps/web/src/entities/user/model/types.ts
  apps/web/src/entities/user/queries/queries.ts
  apps/web/src/entities/user/queries/query-key.ts
  apps/web/src/widgets/layout/ui/header/header.tsx
Due: lint, format

chore: .gitkeep 제거
  apps/web/src/entities/user/api/.gitkeep
  apps/web/src/entities/user/model/.gitkeep
  apps/web/src/entities/user/queries/.gitkeep
Due: none

feat: 매직넘서 상수화
  apps/web/src/features/onboarding/hooks/validators.ts
Due: lint, format
