Repository team-kareer/kareer-client: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm lint

    format:
      glob: '*.{js,ts,jsx,tsx,json,yaml,yml,md}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    type-check:
      run: pnpm check-types

commit-msg:
  commands:
    lint-commit-msg:
      run: node commitlint.config.cjs {1}

chore: 워크스페이스 catalog로 의존성 통일
  packages/configs/eslint/package.json
  packages/icons/package.json
Due: format

chore: pnpm-lock 재설치
  pnpm-lock.yaml
Due: format

init: Tag 컴포넌트 파일 구조 세팅
  packages/kds-ui/src/components/tag/tag.css.ts
  packages/kds-ui/src/components/tag/tag.tsx
Due: lint, format

style: Tag 버튼 디자인 시스템 적용
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

Init(web): Sentry 세팅 (#23)
  .github/workflows/ci.yml
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app/main.tsx
  apps/web/src/shared/apis/configs/instance.ts
  apps/web/src/shared/configs/.gitkeep
  apps/web/src/shared/configs/sentry.ts
  apps/web/src/shared/constants/.gitkeep
  apps/web/src/shared/router/global-layout.tsx
  apps/web/vite.config.ts
  package.json
  packages/configs/eslint/base.js
  packages/configs/eslint/package.json
  packages/icons/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: lint, format

docs: README 업데이트 (v26.1.9)
  README.md
Due: format

docs: 팀원 GitHub 아이디 업데이트
  README.md
Due: format

docs: 팀원 소개 섹션의 이미지 수정 및 아이콘 추가
  README.md
Due: format

Docs(project): README 업데이트 (v26.1.9) (#35)
  README.md
Due: format

chore: 불필요한 gitkeep 삭제
  apps/web/src/widgets/.gitkeep
Due: none

feat: 헤더 컴포넌트 layout작업
  apps/web/src/widgets/layout/components/header/header.css.ts
  apps/web/src/widgets/layout/components/header/header.tsx
Due: lint, format

feat: 네비게이션 컴포넌트 및 layout 작업
  apps/web/src/widgets/layout/components/nav/nav.css.ts
  apps/web/src/widgets/layout/components/nav/nav.tsx
Due: lint, format

style: Tag 컴포넌트 디자인 시스템 적용
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

feat: Tag 컴포넌트 구현
  packages/kds-ui/src/components/tag/tag.tsx
Due: lint, format

feat: index Tag 컴포넌트 추가
  packages/kds-ui/src/components/index.ts
Due: lint, format

test: Tag 컴포넌트 테스트
  apps/web/src/pages/dashboard/dashboard-page.tsx
Due: lint, format

feat: TodoPanel 컴포넌트 및 layout 작업
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.css.ts
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.tsx
Due: lint, format

feat: AppLayout 컴포넌트 및 layout 작업
  apps/web/src/widgets/layout/components/app-layout/app-layout.css.ts
  apps/web/src/widgets/layout/components/app-layout/app-layout.tsx
Due: lint, format

feat: global-layout 세팅
  apps/web/src/shared/router/global-layout.tsx
Due: lint, format

feat: TodoPanel 컴포넌트의 div를 aside로 변경
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.tsx
Due: lint, format

feat: 레이아웃 컴포넌트의 높이 조정 및 flex 속성 수정
  apps/web/src/widgets/layout/components/app-layout/app-layout.css.ts
  apps/web/src/widgets/layout/components/nav/nav.css.ts
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.css.ts
Due: lint, format

feat: mainArea의 minHeight 속성 추가
  apps/web/src/widgets/layout/components/app-layout/app-layout.css.ts
Due: lint, format

feat: pages 디렉토리의 .gitkeep 파일 삭제
  apps/web/src/pages/.gitkeep
Due: none

feat: 에러 페이지 컴포넌트 추가
  apps/web/src/pages/error/error.tsx
Due: lint, format

feat: 레이아웃 구성 요소 수정 및 에러 페이지 처리 추가
  apps/web/src/shared/router/global-layout.tsx
  apps/web/src/widgets/layout/components/app-layout/app-layout.css.ts
  apps/web/src/widgets/layout/components/app-layout/app-layout.tsx
  apps/web/src/widgets/layout/components/nav/nav.css.ts
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.css.ts
Due: lint, format

refactor: 기존 button -> div로 변경
  apps/web/src/pages/dashboard/dashboard-page.tsx
  packages/kds-ui/src/components/tag/tag.css.ts
  packages/kds-ui/src/components/tag/tag.tsx
Due: lint, format

fix: auto-labeler 수정
  .github/labeler.yml
Due: format

refactor: 블록 요소 -> 인라인 요소로 변경
  packages/kds-ui/src/components/tag/tag.css.ts
  packages/kds-ui/src/components/tag/tag.tsx
Due: lint, format

refactor: borderRadius 변경
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

style: disabled_gray 요소 추가
  apps/web/src/pages/dashboard/dashboard-page.tsx
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

refactor: 텍스트 요소 속성 추가
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

refactor: 불필요 base 요소 삭제
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

style: navigation 추가
  apps/web/src/pages/dashboard/dashboard-page.tsx
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

fix: 컴포넌트 단일책임 원칙에 따른 외부 요소 제거
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

feat: 레이아웃 및 스타일 구성 요소 수정, 새로운 너비 토큰 추가
  apps/web/src/widgets/layout/components/app-layout/app-layout.css.ts
  apps/web/src/widgets/layout/components/nav/nav.css.ts
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.css.ts
  packages/kds-ui/src/styles/global.css.ts
  packages/kds-ui/src/styles/reset.css.ts
  packages/kds-ui/src/styles/theme.css.ts
  packages/kds-ui/src/styles/tokens/width.css.ts
Due: lint, format

refactor: 중복 요소 제거 및 요소 추가
  apps/web/src/pages/dashboard/dashboard-page.tsx
  packages/kds-ui/src/components/tag/tag.css.ts
Due: lint, format

fix: test 코드 제거
  apps/web/src/pages/dashboard/dashboard-page.tsx
Due: lint, format

refactor: auto-label 요소 추가
  .github/workflows/auto-label.yml
Due: format

Feat(kds): Tag 공통 컴포넌트 구현 (#40)
  .github/labeler.yml
  .github/workflows/auto-label.yml
  packages/kds-ui/src/components/index.ts
  packages/kds-ui/src/components/tag/tag.css.ts
  packages/kds-ui/src/components/tag/tag.tsx
Due: lint, format
