Repository team-kareer/kareer-client: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat: Navigation 컴포넌트 네이밍 변경
  apps/web/src/widgets/layout/components/app-layout/app-layout.tsx
  apps/web/src/widgets/layout/components/nav/nav.tsx
  apps/web/src/widgets/layout/components/navigation/navigation.css.ts
  apps/web/src/widgets/layout/components/navigation/navigation.tsx
Due: lint, format

feat: boxShadow 스타일 추가 및 레이아웃 수정
  apps/web/src/widgets/layout/components/app-layout/app-layout.css.ts
  packages/kds-ui/src/styles/global.css.ts
Due: lint, format

feat: section-header 컴포넌트 구현
  apps/web/src/pages/dashboard/dashboard-page.tsx
  packages/kds-ui/src/components/index.ts
  packages/kds-ui/src/components/section-header/section-header.css.ts
  packages/kds-ui/src/components/section-header/section-header.tsx
Due: lint, format

feat: 옵셔널 프로퍼티 적용
  apps/web/src/pages/dashboard/dashboard-page.tsx
  packages/kds-ui/src/components/index.ts
  packages/kds-ui/src/components/section-header/section-header.tsx
Due: lint, format

test: 오토라벨 패턴 테스트
  .github/labeler.yml
Due: format

fix: import 방식 변경
  packages/kds-ui/src/components/section-header/section-header.tsx
Due: lint, format

refactor: props 속성 string로 변경
  packages/kds-ui/src/components/section-header/section-header.tsx
Due: lint, format

fix: 테스트 코드 제거
  .github/labeler.yml
Due: format

fix: Section Header 컴포넌트 테스트 코드 제거
  apps/web/src/pages/dashboard/dashboard-page.tsx
Due: lint, format

chore: .gitkeep 파일 삭제
  packages/icons/src/components/.gitkeep
Due: none

Feat(kds): Section Header 공통 컴포넌트 구현 (#43)
  packages/kds-ui/src/components/index.ts
  packages/kds-ui/src/components/section-header/section-header.css.ts
  packages/kds-ui/src/components/section-header/section-header.tsx
Due: lint, format

fix: workflows/auto-label.yml 파일 수정
  .github/labeler.yml
  .github/workflows/auto-label.yml
Due: format

chore: 콘솔 제거
  .github/workflows/auto-label.yml
Due: format

Fix(project): workflows/auto-label.yml 파일 수정 (#46)
  .github/labeler.yml
  .github/workflows/auto-label.yml
Due: format

chore: 제목 기반 auto labeling
  .github/workflows/auto-label.yml
Due: format

chore: 모든 아이콘 추가
  packages/icons/src/svg/ic_arrow_down.svg
  packages/icons/src/svg/ic_arrow_left.svg
  packages/icons/src/svg/ic_arrow_right.svg
  packages/icons/src/svg/ic_arrow_up.svg
  packages/icons/src/svg/ic_bang_circle.svg
  packages/icons/src/svg/ic_bookmark.svg
  packages/icons/src/svg/ic_bookmark_fill.svg
  packages/icons/src/svg/ic_calendar.svg
  packages/icons/src/svg/ic_check-circle.svg
  packages/icons/src/svg/ic_check.svg
  packages/icons/src/svg/ic_custom-map.svg
  packages/icons/src/svg/ic_edit.svg
  packages/icons/src/svg/ic_fit-analysis.svg
  packages/icons/src/svg/ic_fit-analysis_fill.svg
  packages/icons/src/svg/ic_google.svg
  packages/icons/src/svg/ic_home.svg
  packages/icons/src/svg/ic_home_fill.svg
  packages/icons/src/svg/ic_info.svg
  packages/icons/src/svg/ic_info_circle.svg
  packages/icons/src/svg/ic_plus.svg
  packages/icons/src/svg/ic_profile.svg
  packages/icons/src/svg/ic_profile_fill.svg
  packages/icons/src/svg/ic_roadmap.svg
  packages/icons/src/svg/ic_roadmap_fill.svg
  packages/icons/src/svg/ic_sparkle.svg
  packages/icons/src/svg/ic_success-circle.svg
  packages/icons/src/svg/ic_timer.svg
  packages/icons/src/svg/ic_todo-1.svg
  packages/icons/src/svg/ic_todo.svg
  packages/icons/src/svg/ic_update.svg
  packages/icons/src/svg/ic_x-circle.svg
  packages/icons/src/svg/ic_x.svg
  packages/icons/src/svg/index.ts
Due: lint, format

fix: package의존성 @kds/icons로 변경
  apps/web/package.json
  apps/web/src/pages/dashboard/dashboard-page.tsx
  packages/icons/package.json
  pnpm-lock.yaml
Due: lint, format

chore: 아이콘 배럴 파일에 svg 타입 추가
  packages/icons/src/svg/index.ts
Due: lint, format

chore: svgr 의존성 catalog로 관리
  apps/web/package.json
  apps/web/vite.config.ts
  packages/icons/package.json
  packages/icons/src/svg/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, format

chore: 중복 파일 제거 및 동적으로 컬러 주입 가능하도록 변경
  packages/icons/src/svg/ic_arrow_down.svg
  packages/icons/src/svg/ic_arrow_left.svg
  packages/icons/src/svg/ic_arrow_right.svg
  packages/icons/src/svg/ic_arrow_up.svg
  packages/icons/src/svg/ic_bookmark_check.svg
  packages/icons/src/svg/ic_calendar.svg
  packages/icons/src/svg/ic_check.svg
  packages/icons/src/svg/ic_edit.svg
  packages/icons/src/svg/ic_fit-analysis.svg
  packages/icons/src/svg/ic_fit-analysis_fill.svg
  packages/icons/src/svg/ic_google.svg
  packages/icons/src/svg/ic_home.svg
  packages/icons/src/svg/ic_home_fill.svg
  packages/icons/src/svg/ic_info.svg
  packages/icons/src/svg/ic_plus.svg
  packages/icons/src/svg/ic_profile.svg
  packages/icons/src/svg/ic_profile_fill.svg
  packages/icons/src/svg/ic_roadmap.svg
  packages/icons/src/svg/ic_roadmap_fill.svg
  packages/icons/src/svg/ic_timer.svg
  packages/icons/src/svg/ic_todo-1.svg
  packages/icons/src/svg/ic_todo.svg
  packages/icons/src/svg/ic_todo_check.svg
  packages/icons/src/svg/ic_x.svg
  packages/icons/src/svg/index.ts
Due: lint, format

feat: 예시 파일
  apps/web/src/pages/dashboard/dashboard-page.tsx
Due: lint, format

chore: tsconfig.json에 vite-plugin-svgr/client 타입 추가
  apps/web/tsconfig.json
Due: format

chore: package.json의 exports 필드에 타입 정의 추가
  packages/icons/package.json
Due: format

chore: svg.d.ts 파일에 export {} 추가
  packages/icons/src/types/svg.d.ts
Due: lint, format

chore: package.json의 타입 정의를 svg.d.ts에서 index.d.ts로 변경 및 index.d.ts 파일 추가
  packages/icons/package.json
  packages/icons/src/index.d.ts
Due: lint, format

chore: pull_request_target 이벤트에서 synchronize 타입 제거
  .github/workflows/auto-label.yml
Due: format

feat: mainArea에 marginRight 추가 및 todo-panel에서 marginRight 제거
  apps/web/src/widgets/layout/components/app-layout/app-layout.css.ts
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.css.ts
Due: lint, format

Feat(web): Global Layout 틀 구성 (#42)
  apps/web/src/pages/.gitkeep
  apps/web/src/pages/error/error.tsx
  apps/web/src/shared/router/global-layout.tsx
  apps/web/src/widgets/.gitkeep
  apps/web/src/widgets/layout/components/app-layout/app-layout.css.ts
  apps/web/src/widgets/layout/components/app-layout/app-layout.tsx
  apps/web/src/widgets/layout/components/header/header.css.ts
  apps/web/src/widgets/layout/components/header/header.tsx
  apps/web/src/widgets/layout/components/navigation/navigation.css.ts
  apps/web/src/widgets/layout/components/navigation/navigation.tsx
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.css.ts
  apps/web/src/widgets/layout/components/todo-panel/todo-panel.tsx
  packages/kds-ui/src/styles/global.css.ts
  packages/kds-ui/src/styles/reset.css.ts
  packages/kds-ui/src/styles/theme.css.ts
  packages/kds-ui/src/styles/tokens/width.css.ts
Due: lint, format

chore: kds/style 절대경로 alias 추가
  apps/web/src/entities/action/index.ts
  apps/web/src/entities/action/model/types.ts
  apps/web/src/entities/action/ui/action-card/action-card.css.ts
  apps/web/src/entities/action/ui/action-card/action-card.tsx
  apps/web/vite.config.ts
  packages/kds-ui/src/styles/index.ts
Due: lint, format

chore: gitkeep 파일 삭제
  apps/web/src/entities/.gitkeep
Due: none

feat: card ui 구현
  apps/web/src/entities/action/index.ts
  apps/web/src/entities/action/ui/action-card/action-card.css.ts
  apps/web/src/entities/action/ui/action-card/action-card.tsx
  apps/web/src/pages/dashboard/dashboard-page.tsx
  apps/web/vite.config.ts
Due: lint, format

feat: Action 타입 정의
  apps/web/src/entities/action/model/types.ts
  apps/web/src/entities/action/ui/action-card/action-card.tsx
  apps/web/src/pages/dashboard/dashboard-page.tsx
Due: lint, format

feat: action mock API 구현
  apps/web/src/entities/action/api/api.ts
  apps/web/src/entities/action/api/mock.ts
  apps/web/src/entities/action/hooks/use-actions.ts
  apps/web/src/entities/action/types/types.ts
  apps/web/src/entities/action/ui/action-card/action-card.tsx
  apps/web/src/pages/dashboard/dashboard-page.tsx
Due: lint, format

chore: 컴포넌트명 변경
  apps/web/src/entities/action/index.ts
  apps/web/src/entities/action/ui/action-card/action-card.tsx
  apps/web/src/entities/action/ui/action-required-card/action-required-card.css.ts
  apps/web/src/entities/action/ui/action-required-card/action-required-card.tsx
  apps/web/src/features/action-todo/index.ts
  apps/web/src/features/action-todo/ui/action-todo-button/action-todo-button.css.ts
  apps/web/src/features/action-todo/ui/action-todo-button/action-todo-button.tsx
Due: lint, format

feat: 컴포넌트 widgets 조립
  apps/web/src/entities/action-required-card/api/api.ts
  apps/web/src/entities/action-required-card/api/mock.ts
  apps/web/src/entities/action-required-card/index.ts
  apps/web/src/entities/action-required-card/queries/use-actions.ts
  apps/web/src/entities/action-required-card/types/types.ts
  apps/web/src/entities/action-required-card/ui/action-required-card/action-required-card.css.ts
  apps/web/src/entities/action-required-card/ui/action-required-card/action-required-card.tsx
  apps/web/src/entities/action/ui/action-required-card/action-required-card.tsx
  apps/web/src/pages/dashboard/dashboard-page.tsx
  apps/web/src/widgets/roadmap/components/action-card/action-card.tsx
  apps/web/src/widgets/roadmap/components/action-card/action-list.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,yaml,yml,md}
